.caixa{
    width: 400px;
    margin:0 auto;
    background: #dedede url(../Imagens/fundo-arredondamento.png) repeat-y;
}

.caixa h2{
    padding: 10px 20px;
    background: url(../Imagens/topo2.png) no-repeat left top;
}
p{
    padding: 0 10px 10px 10px; 
}
.caixa .ultimo{
    background: url(../Imagens/baixo2.png) no-repeat left bottom;
}